name: Generate GitHub Metrics

on:
  workflow_dispatch:
  schedule:
    # 毎日 03:00 JST (18:00 UTC)
    - cron: "0 18 * * *"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Generate metrics
        uses: lowlighter/metrics@latest
        with:
          # Example: output metrics into "metrics/" folder
          outputs: |
            metrics/github-metrics.svg

      - name: Push
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add -A metrics/
          git commit -m "chore: metrics update" || exit 0
          git push
