name: Generate Metrics

on:
  schedule:
    - cron: "30 18 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Generate metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: ${{ github.repository_owner }}
          filename: metrics/github-metrics.svg

          # お好みの統計
          template: classic
          base: header, activity, repositories

          plugin_languages: yes
          plugin_languages_limit: 8
          plugin_isocalendar: yes
          
          output_action: commit
          committer_message: "update metrics"
